ANTIGRAVITY_CLIENT_ID=
ANTIGRAVITY_CLIENT_SECRET=
ANTIGRAVITY_SDK_CLIENT_ID=
ANTIGRAVITY_SDK_CLIENT_SECRET=
GEMINI_OAUTH_CLIENT_ID=
GEMINI_OAUTH_CLIENT_SECRET=
IFLOW_CLIENT_ID=
IFLOW_CLIENT_SECRET=
QWEN_CLIENT_ID=
OPENAI_OAUTH_CLIENT_ID=
ANTHROPIC_OAUTH_CLIENT_ID=
GEMINI_CLI_CLIENT_ID=
GEMINI_CLI_CLIENT_SECRET=
