CREATE TABLE chats (
          id TEXT PRIMARY KEY,
          title TEXT NOT NULL,
          model TEXT,
          backend TEXT DEFAULT 'ollama',
          createdAt INTEGER NOT NULL,
          updatedAt INTEGER NOT NULL
        , isPinned INTEGER DEFAULT 0, isArchived INTEGER DEFAULT 0, isFavorite INTEGER DEFAULT 0, folderId TEXT);
CREATE TABLE messages (
          id TEXT PRIMARY KEY,
          chatId TEXT NOT NULL,
          role TEXT NOT NULL,
          content TEXT NOT NULL,
          toolCalls TEXT,
          toolResults TEXT,
          timestamp INTEGER NOT NULL, promptTokens INTEGER DEFAULT 0, completionTokens INTEGER DEFAULT 0, isPinned INTEGER DEFAULT 0, provider TEXT, model TEXT, rating INTEGER DEFAULT 0, images TEXT,
          FOREIGN KEY (chatId) REFERENCES chats(id) ON DELETE CASCADE
        );
CREATE INDEX idx_messages_chatId ON messages(chatId);
CREATE INDEX idx_chats_updatedAt ON chats(updatedAt DESC);
CREATE TABLE memories (
          key TEXT PRIMARY KEY,
          value TEXT NOT NULL,
          updatedAt INTEGER NOT NULL
        );
CREATE TABLE indexed_documents (
          path TEXT PRIMARY KEY,
          content TEXT NOT NULL,
          updatedAt INTEGER NOT NULL
        );
CREATE TABLE vectors (
          id INTEGER PRIMARY KEY AUTOINCREMENT,
          path TEXT NOT NULL,
          content TEXT NOT NULL,
          embedding TEXT NOT NULL,
          metadata TEXT,
          updatedAt INTEGER NOT NULL
        );
CREATE TABLE sqlite_sequence(name,seq);
CREATE INDEX idx_vectors_path ON vectors(path);
CREATE TABLE projects (
          id TEXT PRIMARY KEY,
          name TEXT NOT NULL,
          path TEXT,
          description TEXT,
          createdAt INTEGER NOT NULL,
          updatedAt INTEGER NOT NULL
        , mounts TEXT, status TEXT DEFAULT 'active');
CREATE TABLE folders (
          id TEXT PRIMARY KEY,
          name TEXT NOT NULL,
          createdAt INTEGER NOT NULL,
          updatedAt INTEGER NOT NULL
        );
CREATE TABLE council_sessions (
                    id TEXT PRIMARY KEY,
                    projectId TEXT,
                    taskId TEXT,
                    status TEXT,
                    plan TEXT,
                    solution TEXT,
                    createdAt INTEGER,
                    updatedAt INTEGER
                );
CREATE TABLE council_agents (
                    id TEXT PRIMARY KEY,
                    sessionId TEXT,
                    name TEXT,
                    role TEXT,
                    model TEXT,
                    provider TEXT,
                    FOREIGN KEY (sessionId) REFERENCES council_sessions(id) ON DELETE CASCADE
                );
CREATE TABLE council_logs (
                    id INTEGER PRIMARY KEY AUTOINCREMENT,
                    sessionId TEXT,
                    agent TEXT,
                    message TEXT,
                    timestamp INTEGER,
                    FOREIGN KEY (sessionId) REFERENCES council_sessions(id) ON DELETE CASCADE
                );
CREATE INDEX idx_council_logs_sessionId ON council_logs(sessionId);
CREATE INDEX idx_council_agents_sessionId ON council_agents(sessionId);
CREATE TABLE semantic_fragments (
                    id TEXT PRIMARY KEY,
                    content TEXT NOT NULL,
                    embedding TEXT,
                    source TEXT,
                    sourceId TEXT,
                    tags TEXT,
                    importance INTEGER DEFAULT 1,
                    createdAt INTEGER NOT NULL,
                    updatedAt INTEGER NOT NULL
                );
CREATE TABLE episodic_memories (
                    id TEXT PRIMARY KEY,
                    title TEXT,
                    summary TEXT NOT NULL,
                    embedding TEXT,
                    startDate INTEGER,
                    endDate INTEGER,
                    chatId TEXT,
                    participants TEXT,
                    createdAt INTEGER NOT NULL
                );
CREATE TABLE entity_knowledge (
                    id TEXT PRIMARY KEY,
                    entityType TEXT NOT NULL,
                    entityName TEXT NOT NULL,
                    key TEXT NOT NULL,
                    value TEXT NOT NULL,
                    confidence REAL DEFAULT 1.0,
                    source TEXT,
                    updatedAt INTEGER NOT NULL
                );
